
<div class="contentWrapperHome">
    <div class="imagewrapper">
    <div class="webshopTitle">Pretty Cool Camerashop</div>
    </div>
        
    <div class="menuwrapper">
        <div class="boxwrapper"><a href="#login" class="linkbox">
            <div class="rectangle rectangle1">
            <p class="rectangletext">Log-In</p>
            </div></a><a href="#register" class="linkbox">
            <div class="rectangle rectangle2">
            <p class="rectangletext">Register</p>
            </div></a>
        <div class="rectangle rectangle3">
            <p class="rectangletext">Contact</p>
        </div>
        </div>
        <div class="boxwrapper">
        <div class="rectangle rectangle4">
            <p class="rectangletext">Popular</p>
        </div><a href="#product" class="linkbox">
            <div class="rectangle rectangle5">
            <p class="rectangletext">Products</p>
            </div></a>
        </div>
        <div class="boxwrapper">
        <div class="rectangle rectangle6">
            <p class="rectangletext">Sale</p>
        </div>
        </div>
</div>
