<main class='container'>
    <div class="registerBox">
        <p class='registerText'>Register now!</p>
        <form action="#" id="registerForm" class="registerForm">
            <div class="inputBox">
                <p class="inputBoxText">First Name:</p>
                <input type="text" name="firstName" required placeholder="First Name" />
            </div>
            <div class="inputBox">
                <p class="inputBoxText">Last Name:</p>
            <input type="text" name="lastName" required placeholder="Last Name" />
            </div>
            <div class="inputBox">
                <p class="inputBoxText">Email:</p>
            <input type="email" name="email" required placeholder="Email" />
            </div>
            <div class="inputBox">
                <p class="inputBoxText">Password:</p>
            <input type="password" name="password" required placeholder="Password" />
            </div>
            <button class="regButton" id="regBtn" type="button">Register</button>
        </form>
    </div>  
</main>